.icon-computer { background-image: url('png/computer.png'); background-repeat: no-repeat; }

.icon-mail { background-image: url('png/mail.png'); background-repeat: no-repeat; }

.icon-pdf { background-image: url('png/pdf.png'); background-repeat: no-repeat; }

.icon-vec-icons_computer { background-image: url('png/vec-icons_computer.png'); background-repeat: no-repeat; }

.icon-vec-icons_mail { background-image: url('png/vec-icons_mail.png'); background-repeat: no-repeat; }

.icon-vec-icons_pdf { background-image: url('png/vec-icons_pdf.png'); background-repeat: no-repeat; }

